/* .container {
    height: 100vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 8%, rgba(158, 230, 204, 0.9445903361344538) 90%, rgba(148, 187, 233, 1) 100%);
box-sizing: border-box;
} */

.box {
    width: 80%;
    box-shadow: rgba(209, 14, 14, 0.24) 0px 3px 8px;
    height: 80%;
    background-color: rgb(88, 183, 212);
    border-radius: 5px;
    margin: auto;
    padding: 50px 100px 50px 100px;

    /* margin-top: 50px; */
 } 
#para {
    width: 100%;
}

 button {
    padding: 14px;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
    /* background-color: thistle;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
} 

/* textarea{
    margin-bottom: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
} */
/* textarea:focus{
    border: none;
    outline: none;
    outline-color:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(6,65,158,1) 53%, rgba(8,28,133,1) 82%, rgba(21,100,116,1) 100%); ;
    border-bottom: 2px solid red;
} */
